<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aboalaa.islamic.muhammad">
    <uses-permission android:name="android.permission.INTERNET"/>
    <receiver
        android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
        android:exported="true"
        tools:replace="android:exported"/>
</manifest>
